* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	--border-set: 2px solid black;
}

body {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	gap: 15px;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.player-info {
	padding: 15px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	position: absolute;
	top: 40vh;
	background-color: antiquewhite;
}

.game-board {
	margin-top: 60px;
	/* background-color: grey; */
	width: 30vw;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

[data-num="0"] {
	border-right: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="1"] {
	border-right: var(--border-set);
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="2"] {
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="3"] {
	border-top: var(--border-set);
	border-right: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="4"] {
	border: var(--border-set);
}

[data-num="5"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="6"] {
	border-top: var(--border-set);
	border-right: var(--border-set);
}

[data-num="7"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
	border-right: var(--border-set);
}

[data-num="8"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
}

.hidden {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	height: fit-content;
}

.player-display {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-top: 15px;
}

.btns {
	display: flex;
	/* flex-direction: column; */
	gap: 15px;
}

.btns button {
	width: 125px;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 85px;
	width: auto;
	margin: 15px;
}

.player-display p {
	font-size: 1.5rem;
}

h1 {
	margin: 40px 0;
}

button {
	padding: 10px 20px;
	border-radius: 10px;
}
