* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	--border-set: 2px solid black;
}

body {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
}

header {
	background-color: #0c4a6e;
	color: white;
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-info {
	padding: 15px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	position: absolute;
	top: 40vh;
	background-color: #94a3b8;
}

.board-container {
	grid-column: 2/5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-board {
	padding: 60px;
	width: 30vw;
	height: 40vh;
	grid-column: 2/-1;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

[data-num="0"] {
	border-right: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="1"] {
	border-right: var(--border-set);
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="2"] {
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="3"] {
	border-top: var(--border-set);
	border-right: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="4"] {
	border: var(--border-set);
}

[data-num="5"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
	border-bottom: var(--border-set);
}

[data-num="6"] {
	border-top: var(--border-set);
	border-right: var(--border-set);
}

[data-num="7"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
	border-right: var(--border-set);
}

[data-num="8"] {
	border-top: var(--border-set);
	border-left: var(--border-set);
}

.hidden {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	height: fit-content;
}

.player-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	height: 75%;
	padding-left: 20px;
}

.player-display p {
	font-size: 1.5rem;
}

.btns {
	display: flex;
	gap: 15px;
}

.btns button {
	width: 125px;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 85px;
	width: auto;
	margin: 15px;
}

h1 {
	margin: 40px 0;
}

button {
	padding: 5px 10px;
	border-radius: 10px;
}
